/* change colour of several buttons to colour closer to magenta */
.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: #BA68C8;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.btn-magenta {
    background-color: magenta !important;
    color: white !important;
    margin-bottom: 20px !important;
}

.btn-edit {
    border-color: magenta !important;
}

.btn-edit:active {
    background-color: magenta;
    color: black;
}

.btn-magenta:active {
    color: black !important;
}

.home_button:active {
    color: magenta;
}

.rounded-circle {
  max-width: 100%;
}
/* style for entire body */
body
{
  margin: 0;
  padding: 0;

  background: white;
  color: #cdcdcd;
  /* font-family: "Avenir Next", "Avenir", sans-serif; */
  font-family: 'Roboto', Arial, sans-serif;
}
/* style for search bar, hamburger menu */
#menuToggle
{
  z-index: 2;
  display: block;
  position: relative;
  top: 60px;
  left: 35px;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: magenta;
}

.menu-settings a {
  color: #232323;
}

.sort-by a {
  color: #bbbbbb;
}



#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/* hamburger menu */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  right: 30%;
  top: -10%;

  background: grey;
  border-radius: 2px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(-45deg) translate(-2px, -1px);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0px, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 400px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 100px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* style for SmartShopper logo */
  .wrapper {
    width: 100%;
    max-width: 31.25rem;
    position: relative;
    right: 50%;
}

  .label {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: +1.3px;
    margin-bottom: 1rem;
    color: magenta;
    margin-left: 85%;
  }
/* searchbar style */
  .searchBar {
    width: 85%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    position: relative;
    left: 50%;
  }

  #searchQueryInput {
    width: 100%;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
  }

  #searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
  }

#searchQuerySubmit:hover {
    cursor: pointer;
}
/* more logo style */
.fa_custom {
    color:rgba(255, 0, 0, 0.377);
    position: relative;
    left: 10%;
    top: 15px;
}

.fa_custom:hover {
    color: red;
}

.paragraph {
    padding: 15% 2% 2% 5%;
}


/* item.html */
#item-info {
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
  grid-template-columns: 6fr 4fr;
}

#item-info h1 {
  color: black;
  grid-column: 1/2;
  margin-top: auto;
  margin-bottom: auto;
}
/* style for item ratings */
.rating {
  grid-column: 2/3;
  padding: none;
  margin-left: auto;
}

.rating p {
  display: block;
  margin: 0;
}
/* style for item pictures */
.item-picture {
  grid-column: 1/3;
  border-radius: 5px;
  padding: 5px;
  float: center;
}

.item-picture img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  max-height: 300px;
  float: center;
}
/* style for item description section */
.item-description {
  color: black;
  grid-column: 1/3;
}
/* style for item price section */
.item-price {
  color: black;
  grid-column: 2/3;
  padding: 3%;
  margin-left: auto;
}
/* more style for item info */
#item-info h3 {
  color: black;
  grid-column: 1/2;
}

#item-info p {
  margin-left: auto;
}

.item-rating {
  color: black;
  grid-column: 1/3;
  padding-bottom: 20px;
}


/* Search */
#search-info {
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
  grid-template-columns: 6fr 4fr;
}
/* style for sort by section */
.sorted-by {
  color: black;
  grid-column: 1/3;
  border: 1px solid grey;
  border-radius: 3px;
}

.form-check {
  margin-left: 2%;
}
/* style for search item section */
.search-item {
  display: grid;
  color: black;
  grid-column: 1/3;
  grid-template-columns: 3fr 7fr;
}

.search-item-picture {
  padding: 2px;
  grid-column: 1/2;
}

.search-item-picture img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  max-height: 100px;
  float: center;
}

.search-item-info {
  text-align: top;
}

.search-item-info i {
  display: block;
  margin-left: auto;
}
/* style for items displayed section */
.container {
  display: grid;
  margin-left: 6%;
  margin-right: 5%;
  grid-template-columns: 1fr;
  overflow: auto;
  overflow-y: hidden;
  align-items: center;
  color: #232323;
}

.container img {
  display: block;
  width: auto;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* .search-container {
    float: right;
    position: relative;
    top: 25px;
    right: 50%;
  }
.search-container input {
    width: 200%;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  } */